:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-bg: #f5f7fb;
  --color-text: #1b1f23;
  --color-primary: #48a7ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}
